h1{
  color:#000;
  font-size:65px;
  font-family: 'Bungee Outline', cursive;
  text-align: center;
}

body{
  background-color:#cfe8ef;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
}

p{
  color:#000;
  font-size:25;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
}

ul{
  color:#000;
  font-size:25;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
}

h2{
  color:#85c7de;
  font-size:40;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
}

img{
  border: 10px solid #85c7de;
  border-radius: 5px;
  box-shadow:10px 10px;
  width:554px;
  height:554px;
}

img:hover{
  width:50%;
  height:50%;
}

/* Style the sidebar - fixed full height */
.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
}

/* Style sidebar links */
.sidebar a {
  padding: 6px 8px 6px 6px;
  text-decoration: none;
  font-size: 20px;
  color: #85c7de;
  display: block;
}

/* Style links on mouse-over */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Style the main content */
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.mySlides {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
  margin-bottom:50px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Instagram */
.fa-instagram {
  background: #125688;
  color: white;
}

/* Snapchat */
.fa-snapchat {
  background: #fffc00;
  color: white;
}

/* YouTube */
.fa-youtube {
  background: #bb0000;
  color: white;
}
